@import url('https://fonts.cdnfonts.com/css/hertical-sans');    
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


* {
    -webkit-user-drag: none; /* Prevent dragging in Safari */
    user-select: none; /* Prevent text selection */
}

.landing {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url("/images/wmremove-transformed.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

.team-body, .about-body {
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    background-image: url("/images/wmremove-transformed.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .header, .footer {
        background: rgba(0,0,0,0.5);
        -webkit-backdrop-filter: saturate(180%) blur(1px);
        backdrop-filter: saturate(180%) blur(1px);
    }
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0;
    /* background-color: antiquewhite; */
}

.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#footer-right {
    margin-right: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 24px;
    
    /* Default: Row layout (for desktop) */
    flex-direction: row;
}

/* Mobile layout (column for mobile menu) */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Stack items vertically */
        align-items: start; /* Align to the left */
        gap: 1rem; /* Reduce gap for better spacing */
    }
    .header-right {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align to the left */
        gap: 1rem; /* Reduce gap for better spacing */
        margin-right:0px;
        margin-left:15px;
    }
    .articles-logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer {
        flex-direction: column; /* Stack items vertically */
    }
    #footer-left {
        margin-left: 0px;
        justify-content: center;
        text-align: center;
    }
    #footer-right {
        margin-right: 0px;
        justify-content: center;
        text-align: center;
    }
    html, body {
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
}


.header-left, #footer-left{
    margin-left: 24px;
}

.index-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.about-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.about-bg {
    display: block;
    flex-direction: column;
    width: 75vw;
    max-width: 640px;
    height: fit-content;
    align-items: center;
    border-radius: 3%;
    background: rgb(211, 211, 211, 0.6);
    backdrop-filter: blur(2px);
    padding: 2rem;
}

.about-idfk-man {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.about-idfk-man img {
    display: block;
    width: 100%;
    align-self: center;
    max-width: 320px;
}

.about-desc {
    text-align: center;
}

.about-desc p {
    font-size: 20px; 
    line-height: 1.5;
    font-weight: 600;
}

.team-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
}

.members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 48px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    width: 300px;
    gap: 8px;
    padding: 16px;
    border-radius: 5%;
    background-color: #F8EDEBB3;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.personal-info > * {
    text-align: center;
    padding: 0;
    margin: 0;
}

#articles {
    display: flex;
    gap: 3vmin;
    position: relative;
    /* left: 50%; */
    transform: translateX(41%);
    margin-bottom: 15px;
}

.article-img {
    width: 33vmin;
    height: 55vmin;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.s ease-in-out;
}

.article-img:hover {
    transform: scale(1.05);
}

.logo {
    width: 50px;
    border-radius: 50%;
}

.pfp {
    width: 100px;
    border-radius: 50%;
}

.transparent-logo {
    width: 50vw;
    max-width: 640px;
    margin-top: 30px;
    margin-bottom: 30px;
    }

.articles-logo {
    max-height:100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jesus {
    width: 100%;
    max-width: 400px;
}

.heading-text {
    color: #f8edeb;
    font-size: 25px;
    font-weight: 700;
}

.link-text {
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #f8edeb;
}

.body-font { /* cormorant-garamond-text */
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.subheading-font {
    font-family: 'Hertical Sans', sans-serif;
}